/* Start Configuration */
html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
}

/* LOGIN AND SIGN UP FORMS */
/* Add animations to form controls */
.form-control-animated {
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control-animated:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


/* Footer */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#footer,
.push {
    height: 50px;
}

/* Custom Pagination */
.page-item.active .page-link {
    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}

.pagination>li>a {
    background-color: #fff;
    color: #6c757d;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>span>a:focus,
.pagination>span>a:hover {
    color: #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;
}

/* How the table displays */
table {
    max-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-x: auto;
    /* Add horizontal scrollbar if needed */
}

td,
th {
    padding: 8px;
    border: 1px solid #ccc;
    word-wrap: break-word;
    /* Allow long text to wrap within cells */
}

@media (max-width: 768px) {

    /* Adjust styles for screens with a maximum width of 768px */
    table {
        font-size: 14px;
    }
}



/* Data tables */
.dataTables_paginate {
    margin-top: -38px !important;
}

/* Input search */
.dataTables_filter {
    margin-bottom: 10px !important;
    display: none;
}

/* Show entries */
.dataTables_length {
    float: right !important;
    margin-top: 10px !important;
}

/* Group buttons */
.dt-buttons {
    margin-bottom: 10px !important;
}