{% extends 'main/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6">
    <form method="post" class="p-4 border rounded">
        <h1>Login</h1>
      {% csrf_token %}
      {{ form|crispy }}
      <p class="mt-3">Don't have an account yet? Create one <a href="/sign-up">Here</a>!</p>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
</div>
{% endblock %}
