{% extends 'main/base.html' %}
{% load static %}

{% block title %}Weir Minerals - Employees{% endblock %}
{% block content %}

<!--Search Input-->
<div class="d-flex m-5" style="width: 25%;">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" type="search" id="search" placeholder="Search...">
      <a href="{% url 'home' %}" class="btn btn-secondary btn-sm"><i class="fas fa-filter" aria-hidden="true"></i></a>
    </div>
</div>

<!--Search Input End-->

<!--CARDS START-->
<div class="container">
    <div class="row m-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><b>Total Exceptions Approved:</b></p>
                    <h3 class="card-title">123</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><b>Exceptions Not Submitted:</b></p>
                    <h3 class="card-title">456</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><b>Exceptions Submitted Not Approved:</b></p>
                    <h3 class="card-title">789</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><b>Overtime Approved:</b></p>
                    <h3 class="card-title">101</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><b>Leave Submitted:</b></p>
                    <h3 class="card-title">202</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CARDS END-->

<!--Table START-->
<div class="container">
  <br><br><br>
  <h3 class="m-4">Workspace</h3>
  <table class="table table-bordered" id="example" style="text-align: center;">
    <thead class="table-success">
      <!--<tr>
        <th>Emp No</th>
        <th>Department</th>
        <th>Shift Date</th>
        <th>Clocked In</th>
        <th>Clocked Out</th>
        <th>Time Authorized</th>
        <th>Time Code</th>
        <th>Attendance Code</th>
        <th>Approve</th>
      </tr>-->
      <tr>
      <th>Emp No</th>
      <th>Name</th>
      <th>Department</th>
      <th>Shift Date</th>
      <th>Clocked In</th>
      <th>Clocked Out</th>
      <th>Time Authorized</th>
      <th>Time Code</th>
      <th>Attendance Code</th>
      <th>Approved</th>
    </tr>
    </thead>
    <!--Data from backend-->
    {% for employee in employees %}
    <tr>
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.department }}</td>
      <td>{{ employee.shift_date }}</td>
      <td>{{ employee.clocked_in }}</td>
      <td>{{ employee.clocked_out }}</td>
      <td>{{ employee.time_authorized }}</td>
      <td class="editable time-code">
            <select class="form-select form-select-sm" aria-label="Small select example">
                <option value="short-time">Short Time</option>
                <option value="normal-time">Normal Time</option>
                <option value="overtime">Overtime</option>
            </select>
        </td>
      <!--Attendance Code-->
      <td class="editable attendance-code">
        <select class="form-select form-select-sm" aria-label="Small select example">
            <option value="at-work">At Work</option>
            <option value="on-leave">On Leave</option>
            <!-- Add more options as needed -->
        </select>
    </td>
      <!--Approved or not-->
      <td class="editable approve">
        <input type="checkbox" {% if employee.is_approved %}checked{% endif %}>
    </td>
    </tr>
    {% endfor %}
  </table>

</div>
<!--Table END-->
<br><br><br><br>
{% endblock content %}